.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 600px);
}
.title {
  font-weight: 900;
  font-size: 80px;
  text-align: center;
  color: black;
}
